
:root{

    --orange-bg: hsl(31, 77%, 52%);
    --cyan-bg: hsl(184, 100%, 22%);
    --dark-bg:hsl(179, 100%, 13%);

    --white-text: hsla(0, 0%, 100%, 0.75);
    --background-color:hsl(0, 0%, 95%);
}


html{
    background-color: var(--background-color);
    font-size: 15px;
}



.cardTitle{
    font-weight:700;
    margin-top: 20px;
    font-family: Big Shoulders Display;
    font-size: 150%;
    color:var(--white-text);
    text-transform: uppercase;
}


.cardContainer{
    display:flex;
    justify-content: center;
    margin-top:200px;
}

.card{
    width: 20%;
    padding: 30px;
    
}

.card:first-of-type{
    border-radius: 10px 0px 0px 10px;
}

.card:last-of-type{
    border-radius: 0px 10px 10px 0px;
}

p{
    color:var(--white-text);
    margin-bottom:80px;
    font-weight:400;
    font-family:Lexend Deca;
}
button{
    border-radius: 30px;
    padding: 15px 30px;
    cursor:pointer;
    background-color: white;
    border:var(--color);
    color:var(--color);
    font-family: Lexend Deca;
}

button:hover{
    color:white;
    background-color:var(--color);
    border: 3px solid white;
}

@media only screen and (max-width:375px){

    .cardContainer{
        margin:0 auto;
        width:60%;
        flex-direction:column;
    }

    .card{
        width:60%;
        margin:0;
    }

    .card:first-of-type{
        border-radius: 10px 10px 0px 0px;
    }

    .card:last-of-type{
        border-radius: 0px 0px 10px 10px;
    }

    p{
        margin-bottom:10px;
    }
}
